body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
    color: #333;
    /* Background image removed from here */
}

/* Styles specific to the potions page */
.potions-page {
    background-image: url('creeper.png'); /* Add your background image URL here */
    background-size: cover;
    background-attachment: fixed;
}

/* Search bar styles */
.search-container {
    text-align: center;
    margin: 20px 0;
}

#searchBar {
    width: 50%; /* Adjust the width as needed */
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 5px;
}

/* Header styles */
h1 {
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 4px #000;
}

/* Styles for potion containers */
.potion-container {
    max-width: 600px; /* Adjust as needed */
    margin: auto;
}

.potion {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}

/* Button styles */
.toggleButton, button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 25px; /* Curved edges */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Button hover effects */
.toggleButton:hover, button:hover {
    background-color: #45a049;
}

/* Styles for the back button */
#backButton {
    display: block;
    margin: 20px auto;
}

/* Styles for potion details */
.extraContent img {
    width: 100%;
    max-width: 400px; /* Adjust as needed */
    display: block;
    margin: 10px auto;
}

.extraContent p {
    text-align: center;
}
